.widjet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 400px;

  box-shadow: 0 0 6px #000;

  padding: 20px;
  margin: 20px 0 20px 0;
}