body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;

  color: #000;

  display: flex;
  justify-content: center;
  align-items: center;

  input[type="text"], input[type="button"] {
    border: none;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0);

    cursor: pointer;
  }

  input[type='text'] {
    padding: 0 0 0 5px;
    box-shadow: 0 0 3px #000;
    padding: 5px;
  }

  input[type="button"] {
    width: 30px;
  }

  div[disabled] {
    pointer-events: none;
    opacity: 0.7;

    transition: .5s all;
  }
}